<ul class="nav navbar-nav navbar-right" ng-show="vm.userAuthenticated">
    <li><a ui-sref=".profile">
        <button type="button"
                class="btn btn-sm btn-warning"><span
                class="visible-lg visible-xs">{{vm.profile.name}}</span><span
                class="visible-sm visible-md"><i class="fa fa-user fa-2x"
                                                 uib-tooltip="{{vm.profile.name}}"
                                                 tooltip-placement="left" tooltip-class="tooltip-warning"></i></span>
        </button>
    </a></li>
</ul>