<div class="container">
    <div id="navbar" class="navbar-collapse text-uppercase" uib-collapse="!isCollapsedNavBar">
        <a class="navbar-brand" ui-sref="home.main"><img class="logo" src="./img/logo-text.png"/></a>

        <exa-navigation-bar></exa-navigation-bar>

        <ul class="nav navbar-nav navbar-right">
            <li ng-class="{active: vm.activePage[application.config.states.support]}"><a
                    ui-sref=".support" sw-collapse-navbar>Live support</a></li>
            <li ng-class="{active: vm.activePage[application.config.states.guides]}"><a
                    ui-sref=".guides" sw-collapse-navbar>User guides</a></li>

            <li ui-view="authenticationBar"></li>
        </ul>
    </div>
    <uib-progressbar class="progress-striped active busy-indicator" type="busy"
                     value="100"
                     min="0" max="100">
    </uib-progressbar>
</div>