<exa-page-title>Dashboard</exa-page-title>

<div class="row">
    <div class="col-lg-2">
        <div class="list-group">
            <button type="button" class="list-group-item" exa-widget-icon><i class="fa fa-line-chart"></i>Trend</button>
            <button type="button" class="list-group-item" exa-widget-icon><i class="fa fa-bar-chart"></i>Funnel</button>
            <button type="button" class="list-group-item" exa-widget-icon><i class="fa fa-file-text"></i>Report</button>
            <button type="button" class="list-group-item" exa-widget-icon><i class="fa fa-refresh"></i>Retention
            </button>
            <button type="button" class="list-group-item" exa-widget-icon><i class="fa fa-cubes"></i>Segmentation
            </button>
            <button type="button" class="list-group-item" exa-widget-icon><i class="fa fa-globe"></i>Geo Analysys
            </button>
            <button type="button" class="list-group-item" exa-widget-icon><i class="fa fa-maxcdn"></i>Metric</button>
            <button type="button" class="list-group-item" exa-widget-icon><i class="fa fa-angle-left"></i><i
                    class="fa fa-angle-right"></i>HTML
            </button>
            <button type="button" class="list-group-item" exa-widget-icon><i class="fa fa-file-text-o"></i>Simple text
            </button>
        </div>
    </div>
    <div class="col-lg-10">
        <div class="row" ng-repeat="stripe in vm.dashboard.stripes">
            <!-- widgts content -->
            <div class="col-lg-12"><!-- stripes-->
                <div exa-widget-stripe>
                    <div class="row widget-stripe"></div>
                </div>
                <div class="row">
                    <div class="col-lg-3" ng-repeat="widget in stripe.widgets">{{::widget.name}}</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

            </div>
        </div>
    </div>
</div>